<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
        <MudNavGroup Title="Store" Icon="@Icons.Material.Filled.Store">
               @* <MudNavLink Href="product" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Shop Page</MudNavLink> *@
            <MudNavLink Href="manage/products" Icon="@Icons.Material.Filled.ViewList">Products</MudNavLink>
            <MudNavLink Href="manage/orders" Icon="@Icons.Material.Filled.LocalGroceryStore">Orders</MudNavLink>
        </MudNavGroup>
 
    <MudNavLink Href="fetchdata" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Fetch data</MudNavLink>
    <p>will be hidden for non staff</p>
</MudNavMenu>
 