@page "/animals"

<h3>DisplayAnimals</h3>

<MudTable Items="@_animals" Hover="true" Striped="true" Bordered="true" Loading="@_loading" LoadingProgressColor="Color.Info">
    <HeaderContent>
        <MudTh>Dogs Name</MudTh>
        <MudTh>Age</MudTh>
        <MudTh>Description</MudTh>
        <MudTh>Image</MudTh>
        <MudTh>Action</MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd DataLabel="Dogs Name">@context.Name</MudTd>
        <MudTd DataLabel="Age">@context.Age</MudTd>
        <MudTd DataLabel="Description">@context.Description</MudTd>
        <MudTd DataLabel="Image">
            @if (String.IsNullOrEmpty(context.Main_Image_Url) == false)
            {
                <MudImage Src="context.Main_Image_Url" />
            }

        </MudTd>
        <MudTd DataLabel="Molar mass">
            <MudIconButton Icon="@Icons.Material.Filled.Edit" />
        </MudTd>
    </RowTemplate>
</MudTable>

@code {

    [Inject] IAnimalService Service { get; set; }

    private bool _loading = true;
    private List<Animal> _animals = new();

    protected override async Task OnInitializedAsync()
    {
        _animals = await Service.GetAll(); 
      
        _loading = false;
    }
}
