@page "/manage/users/delete/{Email}/"
@layout AuthLayout
@inject NavigationManager navigationManager
@inject CustomStateProvider authStateProvider
@inject IAuthService authService

<MudText Align="Align.Center" Typo="Typo.h3">Update</MudText>

<EditForm Model="FindUser" OnValidSubmit="OnSubmit">
    <DataAnnotationsValidator/>
    <div class="d-flex flex-column align-stretch gap-3">
        <MudTextField T="string" Label="First Name"
                      @bind-Value="FindUser.FirstName"
                      Disabled="true"
                      For="@(() => FindUser.FirstName)"/>

        <MudTextField T="string" Label="Last Name"
                      @bind-Value="FindUser.LastName"
                      Disabled="true"
                      For="@(() => FindUser.LastName)"/>

        <MudTextField T="string" Label="Email"
                      InputType="InputType.Email"
                      @bind-Value="FindUser.Email"
                      Disabled="true"
                      For="@(() => FindUser.Email)"/>

        <MudTextField T="string" Label="PhoneNumber"
                      @bind-Value="FindUser.PhoneNumber"
                      Disabled="true"
                      For="@(() => FindUser.PhoneNumber)"/>

        <MudCheckBox @bind-Checked="@AdminCheckBox" Disabled="true">Admin</MudCheckBox>
        <MudCheckBox @bind-Checked="@ProductManagerCheckBox" Disabled="true" Color="Color.Primary">Product Manager</MudCheckBox>
        <MudCheckBox @bind-Checked="@AnimalManagerCheckBox" Disabled="true" Color="Color.Secondary">Animal Manager</MudCheckBox>
        <MudCheckBox @bind-Checked="@UserCheckBox" Disabled="true" Color="Color.Info">User</MudCheckBox>

        <MudButton Variant="Variant.Filled" Color="Color.Primary"
                   Class="my-3 mx-auto"
                   Disabled="AdminCheckBox"
                   ButtonType="ButtonType.Submit">
            Delete
        </MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error"
                   Class="my-3 mx-auto"
                   Link="manage/users">
            Cancel
        </MudButton>
        @* <div>
                    <MudText Color="@Color.Error" Class="mb-3"> @error </MudText>
                    Already have an Account?
                    <MudLink Href="login" Typo="Typo.body2">
                        Login
                    </MudLink>
                </div> *@
    </div>
</EditForm>

@code{

    [Parameter]
    public string Email { get; set; }

    FindUser FindUser = new FindUser();

    private string? error { get; set; }

    private bool AdminCheckBox { get; set; } = false;
    private bool ProductManagerCheckBox { get; set; } = false;
    private bool AnimalManagerCheckBox { get; set; } = false;
    private bool UserCheckBox { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        error = null;
        try
        {
            FindUser = await authService.GetUserByEmail(Email);
            foreach (var item in FindUser.Roles)
            {
                Console.WriteLine(item);
                if (item == "Admin") AdminCheckBox = true;
                if (item == "ProductManager") ProductManagerCheckBox = true;
                if (item == "AnimalManager") AnimalManagerCheckBox = true;
                if (item == "User") UserCheckBox = true;
            }
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await authStateProvider.Delete(Email);
            navigationManager.NavigateTo("manage/users");
        }
        catch (Exception ex)
        {
            error = ex.Message;
            Console.WriteLine(error);
        }
    }

}